:root {
    --pico-font-size: 14px;
}

.grid {
    gap: 70px;
}

main {
    padding: 50px;
}

#stream {
  display: block;
  width: 100%;
}

#stream-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

main {
  padding: 50px 150px;
}

@media (max-width: 950px) {
  main {
    padding: 30px 30px;
  }
}